.main-page-container{
    width: 90%;
    margin: 3rem auto;
}
.greeting-text{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
.name{
    color: var(--secondary-color);
    font-weight: 600;
    font-family: var(--title-font);
}
.table-title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-btn{
    font-size: 1.5rem;
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.course-name{
    font-weight: 500;
}
.course-form-container{
    max-width: 500px;
    padding: 0.5rem;
    
}
.form-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.course-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}
.form-buttons button, .custom-btn{
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.form-buttons button:hover, .custom-btn:hover{
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}