.main-page-container{
    width: 90%;
    margin: 3rem auto;
}
.greeting-text{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
.name{
    color: var(--secondary-color);
    font-weight: 600;
    font-family: var(--title-font);
}
.table-title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}