.details-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.icon{
    color: var(--secondary-color);
}
.title{
    font-weight: 500;
}
.detail-container{
    margin: 1rem;
}
.detail-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btn-container{
   display: flex;
   justify-content: end;
}